name: CI
on: [push]
jobs:
  build:
    runs-on: macos-13
    env:
      ACTIONS_STEP_DEBUG: true
    steps:
      - uses: actions/checkout@v4
      - uses: maxim-lobanov/setup-xcode@v1.6.0
        with:
          xcode-version: '14.3.1'
      - name: List root directory contents
        run: ls -la
      - name: List ChattyChannels directory contents
        run: ls -la ChattyChannels
      - name: List available schemes
        working-directory: ./ChattyChannels
        run: xcodebuild -list -project ChattyChannels.xcodeproj
      - name: Build
        working-directory: ./ChattyChannels
        run: |
          xcodebuild -project ChattyChannels.xcodeproj \
                     -scheme ControlRoom \
                     -configuration Debug \
                     build \
                     CODE_SIGNING_ALLOWED=NO
      - name: Run unit test
        working-directory: ./ChattyChannels
        run: |
          xcodebuild test -project ChattyChannels.xcodeproj \
                          -scheme ControlRoom \
                          -destination 'platform=macOS' \
                          CODE_SIGNING_ALLOWED=NO