name: List Xcode Versions
on: [push]
jobs:
  check-xcode:
    runs-on: macos-15 # Or macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: List available Xcode versions
        run: ls -la /Applications | grep Xcode
      - name: Check Xcode version
        run: xcodebuild -version
